<h1><%- title %></h1>
<%- messages() %>
<div class="form-div">
    <div class="form-container">
        <form action="/account/register" method="post">
            <p>All fields are required</p>
            <!-- First Name Input -->
            <label for="account_firstname">First Name:</label>
            <input type="text" id="account_firstname" name="account_firstname" required placeholder="Enter your first name" data-trail="account_firstname"><br>

            <!-- Last Name Input -->
            <label for="account_lastname">Last Name:</label>
            <input type="text" id="account_lastname" name="account_lastname" required placeholder="Enter your last name" data-trail="account_lastname"><br>

            <!-- Email Address Input -->
            <label for="account_email">Email Address:</label>
            <input type="email" id="account_email" name="account_email" required placeholder="Enter your email address" data-trail="account_email"><br>

            <!-- Password Input -->
            <label for="account_password">Password :</label>
            <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span> 
            <input type="password" id="account_password" name="account_password" required placeholder="Enter your password" data-trail="account_password"
            pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"><br>

            <!-- Toggle Password Visibility -->
            <button type="button" onclick="togglePassword()">Show/Hide Password</button><br><br>

            <!-- Submit Button -->
            <button type="submit">Register</button>
        </form>

        <p>Already have an account? <a href="/account/login">Login here</a></p>
    </div>

</div>

<script>
    // Function to toggle password visibility
    function togglePassword() {
        const passwordInput = document.getElementById('password');
        const type = passwordInput.type === 'password' ? 'text' : 'password';
        passwordInput.type = type;
    }
</script>