<!-- A Message Block -->
<%- messages() %>

<h1> <%- title %></h1>
<!-- The Inventory Items Display -->
 <div form-div>
 <!-- Link to trigger Add New Classification -->
 <p><a href="/inv/Classification">Add New Classification</a></p>

 <!-- Link to trigger Add New Inventory -->
 <p><a href= "/inv/vehicle">Add New Inventory</a></p>
 </div>
