<h1> <%- title %></h1>
<!-- A Message Block -->
<%- messages() %>

<h2>Manage Inventory</h2>
 <p>Select a classification from the list</p>
 <%- classificationSelect %>

 <table id="inventoryDisplay"></table>


<noscript>JavaScript must be enabled to use this page.</noscript>
<!-- The Inventory Items Display -->
 <div class= managementView-container>
    <!-- Link to trigger Add New Classification -->
    <p><a href="/inv/add-classification">Add New Classification</a></p>

    <!-- Link to trigger Add New Vehicle-->
    <p><a href= "/inv/add-inventory">Add New Vehicle</a></p>


 </div>
 
<script src="../js/Inventory"></script>
 

