<h1> <%- title %></h1>
<!-- A Message Block -->
<%- messages() %>

<!-- The Inventory Items Display -->
 <div class= managementView-container>
    <!-- Link to trigger Add New Classification -->
    <p><a href="/inv/add-classification">Add New Classification</a></p>

    <!-- Link to trigger Add New Vehicle-->
    <p><a href= "/inv/add-inventory">Add New Vehicle</a></p>
 </div>
